.grafico {
    width: 25%;
    height: 400px;
}
img{
    width: 10%;
}
table, table th, table td {
	border: 3px solid ;
  	border-collapse: collapse;
  	padding: 3px;
    text-align: center;
}

table{
    margin: 0 auto;
}
.equipo-profesional {
    display: flex;
    align-items: center;
    margin-left: 25%;
}

.equipo-profesional img {
    margin: 2%; 
}
.video-y-horario {
    display: flex;
    flex-wrap: wrap; 
}

video {
    width: 45%; 
    margin-bottom: 2%;
}

.horario {
    width: 45%;
}